.blog-card{
    display: flex;
    flex-direction: column;
    width: 385px;
    margin: 0px 25px 40px 25px;
}
.blog-img {
    width: 385px;
    height: 280px;
    object-fit: cover;
    border-radius: 7px;
  }
  .blog-data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blog-categories {
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 19px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
  }

  .blog-title {
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 900;
    margin-top: 5px;
    cursor: pointer;
  }

  .blog-posted {
    font-family: "Lora", serif;
    font-style: italic;
    font-size: 13px;
    font-weight: 400;
    color: #999999;
    margin-top: 5px;
  }

  .blog-main-data {
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #444444;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }


  @media only screen and (min-width: 320px) and (max-width: 479px){ 
    .blog-card{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 10px 0px;
  }
  .blog-img {
      max-width: 100%;
      height: 280px;
      object-fit: cover;
      border-radius: 7px;
    }
  }